DRIVE_AES_IV
DRIVE_AES_KEY
WALLET_CONNECT_PROJECT_ID
INSTABUG_TOKEN_DEV
INSTABUG_TOKEN_PROD
CROWDIN_PROJECT_ID
CROWDIN_API_TOKEN
CROWDIN_DISTRIBUTION
MIXPANEL_TOKEN_DEV
MIXPANEL_TOKEN_PROD
DROPBOX_APP_KEY_DEV
DROPBOX_APP_KEY_PROD